<!DOCTYPE html>
<html>
    <head>
        <title>
            {% block title %}{% endblock %}
        </title>
        {% block meta %}{% endblock %}
        {% block styles %}
            {% include "/include/styles.twig" %}
        {% endblock %}
    </head>
    <body>
        <div class="canvas-wrapper">
            {% block canvas %}{% endblock %}
        </div>
        {% block js %}
            {% include "/include/js.twig" %}
        {% endblock %}
    </body>
</html>