<!DOCTYPE html>
<html>
    <head>
        <title>Bomberman</title>
        <meta charset="utf-8">
        {% block styles %}
            {% include "/include/styles.twig" %}
        {% endblock %}
    </head>
    <body>
        <article class="canvas-wrapper">
            {% block canvas %}{% endblock %}
        </article>
        {% block js %}
            {% include "/include/js.twig" %}
        {% endblock %}
    </body>
</html>