{% extends 'base.html.twig' %}

{% block title %}Registration{% endblock %}

{% block stylesheets %}
    {{ parent() }}

    <link rel="stylesheet" href="{{ asset('css/form.css') }}">
{% endblock %}

 {% block logo %}
     {%  include 'includes/logo.html.twig' %}
 {% endblock %}

{% block body %}
    <div class="form-container">
        {# todo - replace with a Symfony form! #}
        <form class="form-signin" method="post">
            <h1 class="h3 mb-3 font-weight-normal">Register</h1>
            <label for="inputUsername" class="sr-only">Username</label>
            <input type="text" name="username" id="inputUsername" class="form-control" placeholder="Username" required autofocus>
            <label for="inputPassword" class="sr-only">Password</label>
            <input type="password" name="password" id="inputPassword" class="form-control" placeholder="Password" required>
            <input type="hidden" name="_csrf_token"
                   value="{{ csrf_token('authenticate') }}"
            >
            <div class="checkbox mb-3">
                <label>
                    <input type="checkbox" name="_remember_me"> Agree to terms I for sure read
                </label>
            </div>
            <button class="btn btn-lg btn-success" type="submit">
                Register
            </button>
            <a class="link-to-other-form float-right" href="{{ path('app_login') }}">Sing in &rarr;</a>
        </form>
    </div>
{% endblock %}
