{% extends 'base.html.twig' %}

{% block title %}Registration{% endblock %}

 {% block header %}
     {%  include 'includes/header.html.twig' %}
 {% endblock %}

{% block body %}
    {{ form_start(registrationForm) }}
        {{ form_widget(registrationForm) }}

        <button type="submit" class="btn btn-success">Зарегестрироваться</button>
    {{ form_end(registrationForm) }}
{% endblock %}

 {% block footer %}
     {% include 'includes/footer.html.twig' %}
 {% endblock %}
