{% extends 'base.html.twig' %}

{% block title %}Bomberman{% endblock %}

 {% block header %}
     {%  include 'includes/header.html.twig' %}
 {% endblock %}

{% block body %}
    <article class="col-sm-12 main">
        <img src="{{ asset('img/bomberman_face.jpg') }}" class="viewport rounded mx-auto d-block" alt="game_window">
        <div class="d-flex justify-content-center">
            <a href="{{ path('description_page') }}" type="button" class="homepage-button btn btn-info btn-lg">
                Description
            </a>
            <div class="empty"></div>
            <a href="{{ path('settings') }}" type="button" class="homepage-button btn btn-success btn-lg float-right">
                Start!
            </a>
        </div>
    </article>
{% endblock %}
