{% extends 'base.html.twig' %}

{% block title %}Bomberman{% endblock %}

{% block body %}
    <div class="container">
        <div class="row justify-content-sm-center">
            <article class="col-sm-12">
                <img src="web/img/bomberman_face.jpg" class="viewport rounded mx-auto d-block" alt="game_window">
                <div class="d-flex justify-content-center">
                    <a href="description_page" type="button" class="main__content_button btn btn-info btn-lg">Описание</a>
                    <div class="empty"></div>
                    <button type="button" class="main__content_button btn btn-success btn-lg float-right" data-toggle="modal" data-target="#login">
                        Начать игру
                    </button>
                </div>
            </article>
        </div>
    </div>
{% endblock %}
