{% block header %}
    <header class="clearfix d-flex justify-content-center">
        <h1 class="d-none">BOMBERMAN</h1>
        <img src="{{ asset('web/img/logo.png') }}" class="logo" alt="game_logo">
    </header>
{% endblock %}