{% block header %}
    <header class="clearfix">
        <h1 class="d-none">Bomberman</h1>
        <div class="profile float-right">
            <a href="{{ path('app_login') }}" class="profile__link">Sing in</a>
            <a href="{{ path('app_register') }}" class="profile__link">Sing up</a>
        </div>
    </header>
{% endblock %}