{% extends 'base.html.twig' %}

{% block title %}Bomberman{% endblock %}

{% block body %}
    <article class="viewport">
        <canvas id="canvas" class="main__content_canvas "></canvas>
    </article>
    <a href="{{ path('homepage') }}" type="button" class="return-button btn-danger d-block text-center">
        <img src="{{ asset('web/img/return.png') }}">
    </a>
{% endblock %}

{% block javascripts %}
    {{ parent() }}
    <script type="module" src="{{ asset('web/js/viewport.js') }}"></script>
{% endblock %}