{% extends 'base.html.twig' %}

{% block title %}Description{% endblock %}

 {% block logo %}
     {%  include 'includes/logo.html.twig' %}
 {% endblock %}

{% block body %}
    <article class="col-sm-12 main d-flex justify-content-center align-items-center ">
        <div class="top-block">
            <figure class="figure d-flex justify-content-center">
                <img class="figure__img" src="{{ asset('img/description_card_1.png') }}" alt="Описание 1" />
                <figcaption class="figure__paragraph d-flex justify-content-center align-items-center">
                    Наслаждайся яркой, красочной и динамичной игрой
                </figcaption>
            </figure>
            <figure class="figure d-flex justify-content-center">
                <figcaption class="figure__paragraph d-flex justify-content-center align-items-center">
                    Уничтожай врагов. Докажи своё превосходство!
                </figcaption>
                <img class="figure__img" src="{{ asset('img/description_card_1.png') }}" alt="Описание 2" />
            </figure>
            <figure class="figure d-flex justify-content-center">
                <img class="figure__img" src="{{ asset('img/description_card_1.png') }}" alt="Описание 3" />
                <figcaption class="figure__paragraph d-flex justify-content-center align-items-center">
                    Открывай новые скиный. Создай свой уникальный вид
                </figcaption>
            </figure>
        </div>
    </article>
    <a href="{{ path('homepage') }}" type="button" class="main__content_button btn btn-success btn-lg d-block">
        Вернуться
    </a>
{% endblock %}
